@font-face {
    font-family:Inter-Black;
    src: url(../fonts/Inter-Black.otf);
}
@font-face {
    font-family:Inter-Medium;
    src: url(../fonts/Inter-Medium.otf);
}
@font-face {
    font-family:Inter-Regular;
    src: url(../fonts/Inter-Regular.otf);
}
@font-face {
    font-family:Raleway-Bold;
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family:Raleway-Regular;
    src: url(../fonts/Raleway-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Share Class */
.logo{
    font-family:Inter-Black;
    color: #4E47FF;
    font-size: 34px;
    font-weight: 700;
    text-transform:uppercase
}
.button{
    padding: 15px 30px;
    font-family:Raleway-Bold;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700px;
    text-transform: capitalize;
    background-color: #4E47FF;
    border-style: none;
    border-radius: 10px;
}
.button:hover{
    color: #FFFFFF;
    background-color: black;
    transition-duration: .3s;
}
/* header section start */
.header-container{
    margin: 0 auto;
    padding-top: 50px;
    width: 90%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo h1{
    cursor: pointer;
}
/* header section end */